{% extends 'admin_base.html.twig' %}

{% block title %}
	Admin -
	{{care.name}}
{% endblock %}
{% block titleBis %}
	<h2 class="text-center text-dark">
		<b>
			<u>{{care.name|capitalize}}</u>
		</b>
	</h2>
{% endblock %}
{% block body %}
	<div class="w-50 mx-auto">
		{{form_start(form)}}
		{{form_row(form.category)}}
		{{form_row(form.price)}}
		{{form_row(form.component)}}
		<div class="w-25 text-center mx-auto">
			<button type="submit" class="btn btn-primary w-50">Modifier</button>
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
