{% extends 'admin_base.html.twig' %}

{% block title %}Logs - Service Docteurs
{% endblock %}
{% block titleBis %}
	<h2 class="text-center">
		<b>
			<u>Logs des Services</u>
		</b>
	</h2>
{% endblock %}
{% block body %}
	<div class="accordion w-75 mx-auto my-3" id="accordionService">
		{% for user in users %}
			<div class="accordion-item shadow-none border-0">
				<h2 class="accordion-header " id="title_{{user.slug}}">
					<button class="accordion-button bg-dark text-light shadow-none " type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{user.slug}}" aria-expanded="false" aria-controls="collapse_{{user.slug}}">
						<b>{{user.username}}</b>
					</button>
				</h2>
				<div id="collapse_{{user.slug}}" class="accordion-collapse collapse show" aria-labelledby="collapse_{{user.slug}}">
					{% for service in user.services %}

						<div class="accordion-body row align-items-center" id="{{service.id}}">
							<div class="col col-2 offset-1">
								{{service.startAt|date("H:m:s - d/m/Y")}}
							</div>
							<div class="col col-2 offset-1">
								{{service.finishAt|date("H:m:s - d/m/Y")}}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
