{% extends 'admin_base.html.twig' %}

{% block title %}Logs Commandes
{% endblock %}

{% block titleBis %}
	<h2 class="text-center">
		<b>
			<u>Logs des Commandes</u>
		</b>
	</h2>
{% endblock %}

{% block body %}
	<div class="table-responsive w-75 mx-auto mt-5">
		<table class="table table-striped table-hover table-borderless text-center">
			<thead class="table-dark">
				<td>Date de commande</td>
				<td>Docteur</td>
				<td>Produits</td>
				<td>Facture</td>
				<td>Date de reçu</td>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td class="align-middle">{{order.orderAt|date("d/m/Y")}}</td>
						<td class="align-middle">
							{{ order.medic.Username}}
						</td>
						<td>
							<ul>
								{% for item in order.orderItems %}
									<li class="list-group-item">
										{{item.object.name}}
										<span class="badge bg-dark rounded-pill">{{item.quantity}}</span>
									</li>
								{% endfor %}
							</ul>
						</td>
						<td class="align-middle">
							{{ order.invoice}}
						</td>
						<td class="align-middle">
							{% if not order.receiveAt is null %}
								{{ order.receiveAt|date("d/m/Y")}}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
