<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false" id="adminNavbar">
	<div class=" offcanvas-header">
		<h2 class="offcanvas-title d-none d-sm-block text-truncate" id="offcanvas">Administration</h2>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="offcanvas-body px-0" aria-modal="true">
		<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
			{% if is_granted('ROLE_LSMS') %}
				<li class="nav-item">
					<a href="{{path('app_lsms_index')}}" class="nav-link text-truncate">
						<i class="fs-5 bi-house-fill"></i>
						<span class="ms-1 d-none d-lg-inline">Acceuil</span>
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{path('app_index')}}" class="nav-link text-truncate ">
						<i class="fs-5 bi-house-fill"></i>
						<span class="ms-1 d-none d-lg-inline">Acceuil</span>
					</a>
				</li>

			{% endif %}
			<li class="nav-item">
				<a href="{{path('app_staff')}}" class="nav-link text-truncate d-inline-block">
					<i class="fs-5 bi-tools"></i>
					<span class="ms-1 d-none d-lg-inline">Acceuil Admin</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{path('app_staff_staff')}}" class="nav-link text-truncate">
					<i class="fs-1 bi-person-fill"></i>
					<span class="ms-1 d-none d-lg-inline">Personnel</span>
				</a>
			</li>
			<li class="dropdown">
				<a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fs-5 bi-house-heart-fill"></i>
					<span class="ms-1 d-none d-lg-inline">Chambre</span>
				</a>
				<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
					<li>
						<a class="dropdown-item" href="{{path('app_staff_chamber')}}">Voir</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path('app_staff_chamber_add')}}">Ajouter</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fs-5 bi-prescription2"></i>
					<span class="ms-1 d-none d-lg-inline">Objets</span>
				</a>
				<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
					<li>
						<a class="dropdown-item" href="{{path('app_staff_object')}}">Voir</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path('app_staff_object_add')}}">Ajouter</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-folder-fill"></i>
					<span class="ms-1 d-none d-lg-inline">Categorie de soin</span>
				</a>
				<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
					<li>
						<a class="dropdown-item" href="{{path('app_staff_category_healh')}}">Voir</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path('app_staff_category_health_add')}}">Ajouter</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-heart-pulse-fill"></i>
					<span class="ms-1 d-none d-lg-inline">Soins</span>
				</a>
				<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
					<li>
						<a class="dropdown-item" href="{{path('app_staff_care')}}">Voir</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path('app_staff_care_add')}}">Ajouter</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-journal-medical"></i>
					<span class="ms-1 d-none d-lg-inline">Logs</span>
				</a>
				<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
					<li>
						<a class="dropdown-item" href="">Service des docteurs</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path('app_staff_log_caresheet')}}">Fiche de soins</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path(('app_staff_log_order'))}}">Commande</a>
					</li>
					<li>
						<a class="dropdown-item" href="">Comptabilité</a>
					</li>
				</ul>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li>
				<a href="{{path('app_logout')}}" class="nav-link text-truncate">
					<i class="fs-5 bi-door-open-fill"></i>
					<span class="ms-1 d-none d-lg-inline">Deconnexion</span>
				</a>
			</li>
		</ul>
	</div>
</div>
