<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_lsms_index')}}">LSMS</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Soins
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('app_lsms_care_sheet')}}">Ajouter</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_lsms_care_sheet_listing')}}">Voir</a>
						</li>
					</ul>
					{% if  is_granted('ROLE_STAFF') %}
						<li class="nav-item">
							<a href="{{path('app_staff')}}" class="nav-link">Admin</a>
						</li>
					{% endif %}
				</li>
				<li class="nav-item">
					<a href="{{path('app_logout')}}" class="nav-link">Déconnexion</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
