<nav class="navbar navbar-expand-lg bg-dark mb-2" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_lsms_index')}}">LSMS</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Soins
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('app_lsms_care_sheet')}}">Ajouter</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_lsms_care_sheet_listing')}}">Voir</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="{{path('app_lsms_appointment_planning')}}" class="nav-link">Rendez-vous</a>
				</li>
				{% if  is_granted('ROLE_AMBULANCIER') %}
					<li class="nav-item">
						<a href="{{path('app_lsms_inventory')}}" class="nav-link">Inventaire</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_DIRECTION') %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Ressources Humaines
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{path('app_lsms_personel')}}">Personnel</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{path('app_lsms_partner')}}">Partenaires</a>
							</li>
						</ul>
					</li>
				{% endif %}
				<li class="nav-item">
					<a href="{{path('app_lsms_order')}}" class="nav-link">Commande</a>
				</li>
				{% if is_granted('ROLE_DIRECTION') %}
					<li class="nav-item">
						<a href="{{path('app_lsms_comptability')}}" class="nav-link">Comptabilité</a>
					</li>
				{% endif %}
				<li class="nav-item d-none d-lg-block mx-2"><hr class="d-lg-none"/>
					<span class="nav-link ">|</span>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Cours
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{path('app_lsms_course_medical_folder')}}">Dossier Médicaux</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="https://i8opymkig4a.typeform.com/to/xQE3UpZR" target="_blank">Dispatch</a>
						</li>
						<li>
							<a class="dropdown-item" href="https://i8opymkig4a.typeform.com/to/tudZSPDw" target="_blank">Mdt</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{path('app_lsms_partner')}}">Medecine</a>
						</li>
					</ul>
				</li>
				{% if  is_granted('ROLE_STAFF') %}
					<li class="nav-item d-none d-lg-block mx-2"><hr class="d-lg-none"/>
						<span class="nav-link ">|</span>
					</li>
					<li class="nav-item">
						<a href="{{path('app_staff')}}" class="nav-link">Admin</a>
					</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ms-lg-auto">
				<li class="nav-item nav-link form-check form-switch">
					{% if app.user.inService %}
						<label class="form-check-label text-success " for="onServiceBtn" id="onServiceLabel">
							<b>En service</b>
						</label>
						<input class="form-check-input d-none d-lg-block " type="checkbox" role="switch" id="onServiceBtn" name="onSerivce" checked>
					{% else %}
						<label class="form-check-label" for="onServiceBtn" id="onServiceLabel">
							<b>Hors service</b>
						</label>
						<input class="form-check-input d-none d-lg-block" type="checkbox" role="switch" id="onServiceBtn" name="onSerivce">
					{% endif %}
				</li>
				<li class="nav-item">
					<a href="{{path('app_logout')}}" class="nav-link">Déconnexion</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
